* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

/* banner */
nav {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3)),
    url("../img/about-banner.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 77vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}

ul li {
  list-style: none;
}

.sm {
  display: none;
}

nav div {
  width: 100%;
  background-color: #181818;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-size: 15px;
}

nav img {
  width: 30px;
}

nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
}

nav ul a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.sub-nav {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 10%;
  left: 0;
  padding: 0 50px;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}

.sub-nav ul {
  width: auto;
  display: flex;
  gap: 20px;
}

.sub {
  display: flex;
  align-items: center;
  gap: 15px;
}

.banner-title {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: calc(-50%);
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
}

.svg {
  padding: 10px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 100%;
}

/* dna section */

.dna {
  margin: 50px 0;
  padding: 20px 50px;
}

.dna div p {
  text-align: center;
  font-size: 20px;
  max-width: 45%;
  margin: 0 auto;
}

/* footer */
footer section {
  background-color: black;
  padding: 30px 50px;
  color: white;
}
.footer-one {
  padding: 50px 0;
  text-align: center;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
}

.footer-one p {
  text-transform: uppercase;
}

.footer-one .fa-plus {
  display: none;
}

hr {
  border: 1px solid #303030;
}

.footer-one ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 30px 0;
  font-size: 12px;
}

.footer-two {
  background-color: black;
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
  font-size: 13px;
  margin-bottom: 50px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-transform: uppercase;
}

.social-chd {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fa-plus {
  margin-left: 20px;
}

.footer-three {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 12px;
  color: #777777;
}

.footer-four {
  background-color: #303030;
  font-size: 15px;
}

.footer-four ul {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.footer-five {
  background-color: black;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-five img {
  width: 30px;
}

@media (max-width: 768px) {
  nav {
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
    width: 100%;
    justify-content: space-between;
  }

  nav div {
    padding: 10px;
    align-items: start;
    gap: 130px;
    font-size: 12px;
  }

  nav img {
    width: 15px;
  }

  .sm {
    color: white;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
  }

  nav ul {
    display: none;
  }

  .sub-nav {
    display: none;
  }

  /* footer */
  .footer-one {
    flex-direction: column;
    text-align: left;
    gap: 30px;
    padding: 50px 30px;
  }

  .footer-one div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
  }

  .footer-one ul {
    display: none;
  }

  .footer-one .fa-plus {
    display: block;
  }

  footer section {
    padding: 0;
  }

  .footer-one ul {
    align-items: start;
  }
  .footer-two {
    padding: 50px 30px;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .social {
    justify-content: space-between;
  }

  .footer-three {
    padding: 50px 25px;
    text-align: justify;
  }

  .footer-four {
    font-size: 13px;
  }

  #int {
    order: -1;
    justify-content: center;
  }

  .full-width {
    grid-column: span 2;
  }

  .footer-four ul {
    padding: 50px 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 25px 20px;
  }
}
