* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

/* banner */
nav {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6));
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}

.back-video {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

ul li {
  list-style: none;
}

.sm {
  display: none;
}

nav div {
  padding: 20px 50px;
  display: flex;
  align-items: center;
  gap: 50px;
}

nav img {
  width: 40px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

nav ul a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.banner-bottom {
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.fa-angle-right {
  border: 2px solid;
  padding: 5px 3px;
  border-radius: 100%;
}

.span1 {
  font-size: 25px;
}
.span2 {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 600;
}
.banner-btn {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 10px;
}

.banner-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* news */
.news-section {
  margin: 80px;
}

.news {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.news-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
  width: 410px;
}

.news-left h2 {
  font-size: 35px;
  text-transform: uppercase;
}
.news-desc {
  font-size: 20px;
  color: rgb(24, 24, 24);
}

.news-btn {
  font-size: 15px;
  color: rgb(24, 24, 24);
  display: flex;
  align-items: center;
  gap: 10px;
}

.news-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.news-all {
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

svg {
  border: 2px solid;
  padding: 8px;
  border-radius: 100%;
}

.fa-slash {
  font-size: 30px;
  font-weight: 100;
  transform: rotate(-45deg);
}

.dash {
  height: 1px;
  width: 70px;
  background: #000;
  opacity: 0.6;
}

.dot {
  height: 5px;
  width: 5px;
  border-radius: 100%;
  background: #000;
}

.dot1 {
  padding: 10px;
  border: 2px solid red;
  border-radius: 100%;
}

/* category */
.category-section {
  background-color: #383838;
}

.category {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  row-gap: 100px;
  padding-bottom: 100px;
}

.category img {
  width: 100%;
  background-size: cover;
  /* transition: transform 2s ease; */
}

/* .category img:hover {
  transform: scale(1.05);
} */

.categorydiv {
  position: relative;
  color: white;
}

.catdiv {
  position: absolute;
  max-width: 550px;
  bottom: -65px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  width: 100%;
}

.catspan1 {
  font-size: 25px;
}

.catspan {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

.catbtn {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 10px;
}

.catbtn:hover {
  text-decoration: underline;
  cursor: pointer;
}

svg:hover {
  border: 2px solid red;
}

/* subscribe */
.subscribe {
  background-color: #222222;
  padding: 60px;
  text-align: center;
  color: white;
}

.subscribe p {
  margin-bottom: 25px;
}

.subscribe button {
  background-image: linear-gradient(to bottom, #b01e0a, red);
  padding: 20px 80px;
  border: none;
  color: white;
  text-transform: uppercase;
}

.subscribe button:hover {
  background-image: linear-gradient(#b01e0a);
  cursor: pointer;
}

/* footer */
footer section {
  background-color: black;
  padding: 30px 50px;
  color: white;
}
.footer-one {
  padding: 50px 0;
  text-align: center;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
}

.footer-one p {
  text-transform: uppercase;
}

.footer-one .fa-plus {
  display: none;
}

hr {
  border: 1px solid #303030;
}

.footer-one ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 30px 0;
  font-size: 12px;
}

.footer-two {
  background-color: black;
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
  font-size: 13px;
  margin-bottom: 50px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-transform: uppercase;
}

.social-chd {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fa-plus {
  margin-left: 20px;
}

.footer-three {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 12px;
  color: #777777;
}

.footer-four {
  background-color: #303030;
  font-size: 15px;
}

.footer-four ul {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.footer-five {
  background-color: black;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-five img {
  width: 30px;
}

@media (max-width: 768px) {
  nav {
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
    width: 100%;
    justify-content: space-between;
  }

  nav div {
    padding: 20px;
    align-items: start;
    gap: 130px;
  }

  nav img {
    width: 30px;
  }

  .sm {
    color: white;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
  }

  nav ul {
    display: none;
  }

  .span1 {
    font-size: 18px;
  }
  .span2 {
    font-size: 25px;
  }

  /* news */
  .news-section {
    margin: 40px 10px;
  }

  .news {
    flex-direction: column-reverse;
    text-align: center;
    gap: 50px;
  }

  .news-left {
    gap: 30px;
    width: 96%;
    text-align: left;
  }

  .news-right img {
    width: 98%;
  }

  .news-left h2 {
    font-size: 30px;
    text-transform: uppercase;
  }
  .news-desc {
    font-size: 18px;
    color: rgb(24, 24, 24);
  }

  .news-all {
    margin-top: 150px;
    gap: 15px;
    font-size: 12px;
  }

  /* category */
  .category {
    grid-template-columns: 1fr;
  }

  .catspan {
    font-size: 30px;
  }

  .catspan1 {
    font-size: 20px;
  }

  .catdiv {
    max-width: 90%;
  }

  /* subscribe */
  .subscribe p {
    font-size: 18px;
  }

  .subscribe button {
    width: 100%;
  }

  /* footer */
  .footer-one {
    flex-direction: column;
    text-align: left;
    gap: 30px;
    padding: 50px 30px;
  }

  .footer-one div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
  }

  .footer-one ul {
    display: none;
  }

  .footer-one .fa-plus {
    display: block;
  }

  footer section {
    padding: 0;
  }

  .footer-one ul {
    align-items: start;
  }
  .footer-two {
    padding: 50px 30px;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .social {
    justify-content: space-between;
  }

  .footer-three {
    padding: 50px 25px;
    text-align: justify;
  }

  .footer-four {
    font-size: 13px;
  }

  #int {
    order: -1;
    justify-content: center;
  }

  .full-width {
    grid-column: span 2;
  }

  .footer-four ul {
    padding: 50px 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 25px 20px;
  }
}
