* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* banner */
nav {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6));
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}

.back-video {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

nav ul li {
  list-style: none;
}

.sm {
  display: none;
}

nav div {
  padding: 20px 50px;
  display: flex;
  align-items: center;
  gap: 50px;
}

nav img {
  width: 40px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

nav ul a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.banner-bottom {
  position: absolute;
  bottom: 10px;
  left: 30%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 15px;
}

.span1 {
  font-size: 25px;
}
.span2 {
  font-size: 45px;
  text-transform: uppercase;
}
.banner-btn {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* news */
section {
  margin: 80px;
}

.news {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.news-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
  width: 410px;
}

.news-left h2 {
  font-size: 35px;
  text-transform: uppercase;
}
.news-desc {
  font-size: 20px;
  color: rgb(24, 24, 24);
}

.news-btn {
  font-size: 15px;
  color: rgb(24, 24, 24);
  display: flex;
  align-items: center;
  gap: 10px;
}

.news-all {
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.fa-slash {
  font-size: 30px;
  font-weight: 100;
  transform: rotate(-45deg);
}

@media (max-width: 768px) {
  nav {
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
    width: 100%;
    justify-content: space-between;
  }

  nav div {
    padding: 20px;
    align-items: start;
    gap: 130px;
  }

  nav img {
    width: 30px;
  }

  .sm {
    color: white;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
  }

  nav ul {
    display: none;
  }

  .banner-bottom {
    left: 10%;
  }

  .span1 {
    font-size: 20px;
  }
  .span2 {
    font-size: 30px;
  }

  /* news */
  section {
    margin: 40px 10px;
  }

  .news {
    flex-direction: column-reverse;
    text-align: center;
    gap: 50px;
  }

  .news-left {
    gap: 30px;
    width: 96%;
    text-align: left;
  }

  .news-right img {
    width: 98%;
  }

  .news-left h2 {
    font-size: 30px;
    text-transform: uppercase;
  }
  .news-desc {
    font-size: 18px;
    color: rgb(24, 24, 24);
  }

  .news-all {
    margin-top: 150px;
  }
}
